---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-storage-mydomain-com-v1alpha1-bucket
  failurePolicy: Fail
  name: mbucket-v1alpha1.kb.io
  rules:
  - apiGroups:
    - storage.mydomain.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - buckets
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-storage-mydomain-com-v1alpha1-bucket
  failurePolicy: Fail
  name: vbucket-v1alpha1.kb.io
  rules:
  - apiGroups:
    - storage.mydomain.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - buckets
  sideEffects: None
